<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-app="forms" ng-controller="FormController">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" sizes="any" href="data:;base64,iVBORw0KGgo=">
        <title config-title></title>
        <script type="text/javascript" src="view.js"></script>
        <meta name="platform-links" category="ng-view,ng-file-upload">
        <script type="text/javascript" src="controller.js"></script>
    </head>

    <body class="bk-vbox bk-padding--tiny bk-box--gap bk-box--space-between">
        <bk-busy-indicator-extended class="bk-fill-parent" size="l" ng-show="loading">Loading...</bk-busy-indicator-extended>
        <div class="bk-center--horizontal bk-full-width">
            <span class="sap-icon sap-icon--business-card" style="font-size: 10rem" role="presentation" ng-hide="loading"></span>
        </div>
        <h3 bk-title class="bk-center--horizontal bk-padding-bottom--sm" wrap="true" header-size="3" aria-label="Upload ID Card" ng-hide="loading">Upload ID Card</h3>
        <bk-fieldset ng-form="forms.form" ng-hide="loading">
            <bk-form-group>
                <bk-form-item>
                    <input id="fileUpload" type="file" nv-file-select="*.pdf" uploader="uploader" ng-hide="true" />
                    <bk-button class="bk-full-width" type="submit" ng-disabled="!forms.form.$valid" label="Upload Document" compact="false" state="emphasized" ng-click="uploadDocument()"></bk-button>
                </bk-form-item>
            </bk-form-group>
        </bk-fieldset>
        <bk-button class="bk-full-width" type="button" label="Cancel" compact="false" ng-click="cancel()" ng-hide="loading"></bk-button>
        <theme></theme>
    </body>

</html>
